---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <main
    class="bg-slate-900 rounded-lg max-w-full min-h-full text-slate-400 p-8 m-2"
  >
    <h1 class="text-slate-300 text-2xl mb-4">Welcome to Pragma Studio!</h1>

    <p class="mb-4">This template includes:</p>
    <ul class="p-4 bg-slate-700 rounded-md">
      <li>Astro w/Bun</li>
      <li>TypeScript</li>
      <li>Tailwind CSS</li>
      <li>Custom fonts & colors</li>
      <li>Default static asset @ public/robots.txt</li>
      <li>Uses VS Code Prettier extension</li>
    </ul>
  </main>
</BaseLayout>
